// monokai
$m-c1: #FF6188;
$m-c2: #FC9867;
$m-c3: #FFD866;
$m-c4: #A9DC76;
$m-c5: #78DCE8;
$m-c6: #AB9DF2;
$m-c7: #FDF9F3;
$m-c8: #2C292D;
$gradient-dark-bg: linear-gradient(to right, #{$m-c1}, #{$m-c3}, #{$m-c2});
$gradient-light-bg: linear-gradient(to right, #{darken($m-c1, 10)}, #{darken($m-c3, 25)}, #{darken($m-c2, 10)});

body {
  --bg: #{$m-c7};
  --nav-bg: var(--bg);
  --shadow: #{darken($m-c7, 10%)};
  --text-color: #{$m-c8};
  --nav-link-hover: var(--shadow);
  --nav-link-hover-border-bottom: #{$m-c1};
  --logo-text: #{$gradient-light-bg};

  --schedule-free-bg: var(--shadow);
  --schedule-busy-bg: #{darken($m-c7, 25%)};
  --schedule-header: #{$m-c2};
  --swiper-pagination-bg: #{rgba($m-c8, 0.25)};

  --login-btn-bg: #{lighten($m-c1, 10%)};
  --login-btn-hover: #{$m-c1};
  --signup-btn-bg: #{lighten($m-c2, 10%)};
  --signup-btn-hover: #{$m-c2};

  --modal-bg: var(--bg);
  --course-title-bg: #{lighten($m-c1, 10%)};
  --class-title-bg: #{lighten($m-c2, 10%)};
  --session-title-bg: #{lighten($m-c3, 10%)};
}

body[data-theme="dark"] {
  --bg: #{$m-c8};
  --nav-bg: var(--bg);
  --shadow: #{lighten($m-c8, 10%)};
  --text-color: #{$m-c7};
  --nav-link-hover: var(--shadow);
  --nav-link-hover-border-bottom: #{$m-c2};
  --logo-text: #{$gradient-dark-bg};

  --schedule-free-bg: #{adjust-color($m-c6, $lightness: -50%, $saturation: -50%)};
  --schedule-busy-bg: #{adjust-color($m-c6, $lightness: -25%, $saturation: -25%)};
  --schedule-header: #{adjust-color($m-c2, $lightness: -25%, $saturation: -25%)};
  --swiper-pagination-bg: #{rgba($m-c7, 0.25)};

  --login-btn-bg: #{desaturate(darken($m-c1, 20%), 40%)};
  --login-btn-hover: #{desaturate(darken($m-c1, 10%), 20%)};
  --signup-btn-bg: #{desaturate(darken($m-c2, 20%), 40%)};
  --signup-btn-hover: #{desaturate(darken($m-c2, 10%), 20%)};

  --modal-bg: var(--bg);
  --course-title-bg: #{desaturate(darken($m-c1, 20%), 40%)};
  --class-title-bg: #{desaturate(darken($m-c2, 20%), 40%)};
  --session-title-bg: #{desaturate(darken($m-c3, 20%), 40%)};
}
