// monokai
$m-c1: #FF6188;
$m-c2: #FC9867;
$m-c3: #FFD866;
$m-c4: #A9DC76;
$m-c5: #78DCE8;
$m-c6: #AB9DF2;
$m-c7: #FDF9F3;
$m-c8: #2C292D;
$gradient-light-bg: linear-gradient(to right, #{$m-c8}, #{$m-c1}, #{$m-c2});
$gradient-dark-bg: linear-gradient(to right, #{$m-c1}, #{$m-c2}, #{$m-c3});

body {
  --bg: #{$m-c7};
  --nav-bg: var(--bg);
  --shadow: #{darken($m-c7, 10%)};
  --text-color: #{$m-c8};
  --nav-link-hover: var(--shadow);
  --nav-link-hover-border-bottom: #{$m-c1};
  --logo-text: #{$gradient-light-bg};

  --schedule-free-bg: #fff8dc;
  --schedule-busy-bg: #f0e68c;
  --schedule-header: #ff4500;
  --swiper-pagination-bg: rgba(50, 50, 50, 0.25);
  --swiper-pagination-active-bg: #007aff;

  --login-btn-bg: #{lighten($m-c1, 10%)};
  --login-btn-hover: #{$m-c1};
  --signup-btn-bg: #{lighten($m-c3, 10%)};
  --signup-btn-hover: #{$m-c3};

  --modal-bg: var(--bg);
  --course-title-bg: #{lighten($m-c1, 10%)};
  --class-title-bg: #{lighten($m-c2, 10%)};
  --session-title-bg: #{lighten($m-c3, 10%)};
}

body[data-theme="dark"] {
  --bg: #{$m-c8};
  --nav-bg: var(--bg);
  --shadow: #{lighten($m-c8, 10%)};
  --text-color: #{$m-c7};
  --nav-link-hover: var(--shadow);
  --nav-link-hover-border-bottom: #{$m-c2};
  --logo-text: #{$gradient-dark-bg};

  --schedule-free-bg: #016b42;
  --schedule-busy-bg: #0000ac;
  --schedule-header: #9b0101;
  --swiper-pagination-bg: rgba(200, 200, 200, 0.25);
  --swiper-pagination-active-bg: #007aff;

  --login-btn-bg: #{desaturate(darken($m-c1, 25%), 50%)};
  --login-btn-hover: #{desaturate(darken($m-c1, 25%), 25%)};
  --signup-btn-bg: #{desaturate(darken($m-c3, 25%), 50%)};
  --signup-btn-hover: #{desaturate(darken($m-c3, 25%), 25%)};

  --modal-bg: var(--bg);
  --course-title-bg: #{desaturate(darken($m-c1, 25%), 50%)};
  --class-title-bg: #{desaturate(darken($m-c2, 25%), 50%)};
  --session-title-bg: #{desaturate(darken($m-c3, 25%), 50%)};
  // --course-title-bg: #{desaturate($m-c1, 25)};
  // --class-title-bg: #{desaturate($m-c2, 25)};
  // --session-title-bg: #{desaturate($m-c3, 25)};
}
